/* add your CSS here */
#sleep {
	font-style: italic;
}
.fact {
	font-weight: bold;
}
ul {
	list-style-type: none;
}
div {
	border-style: solid;
	border-width: 1px;
	border-color: #d3d3d3;
	padding: 10px;
}
img {
	padding-bottom: 10px;
}