/* add your CSS here */

.animal-card{
	width: 300px;
}

#sleep {
	font-style: italic;
}

.fact {
	font-weight: bold;
}

.list {
	list-style-type: none;
}

div {
	border: 1px solid #d3d3d3;
	padding: 10px;
}

.animal-image {
	padding-bottom: 10px;
}